.telasofas {
    background-color: #1524c4;
    width: 100%;
    height: 115px;
}

img {
    line-height: 80px;
    margin: 5px;
    float: left;
    width: 100px;
    height: 100px;
    background-color: rgb(94, 26, 26);
    justify-content: center;
    text-align: center;
    border-radius: 80px;
}

#webiwabo {
    font-family: Impact;
    font-size: 40px;
    color: white;
    line-height: 110px;
}

.barrita{
    position: relative;
    float: right;
    background-color: #4b1083;
    width: 700px;
    height: 55px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 8px;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

.emotiza {
    color: aliceblue;
    width: 40px;
    height: 40px;
    margin: 5px;
    line-height: 40px;
    font-size: 21px;
}

.emotiza:hover {
    background-color: #720834;
    width: 100px;
    height: 50px;
}

#mussolini {
    background-color: rgb(255, 255, 255);
    /*border: 2px solid;*/
    width: 68%;
    height: 370px;
    position: relative;
    float: left;
    padding: 8px;
}

#falopa {
    background-color:#3b00c4;
    width: 30%;
    height: 386px;
    justify-content: center;
    position: relative;
    float: right;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 18px;
}

#choripan {
    background-color: #d519d8;
    width: 250px;
    height: 120px;
    margin-top: 40px;
    margin-left: 70px;
}

#choriperro {
    background-color: #d519d8;
    width: 250px;
    height: 120px;
    margin-top: 40px;
    margin-left: 70px;
}

.mortadela {
    width: 100%;
    height: 90px;
    background-color: #000435;
    position: relative;
    float: left;
}

.salchicha {
    position: relative;
    float: left;
    background-color: #3fd431;
    width: 500px;
    height: 50px;
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

.no {
    float: right;
    background-color: #00a8a3;
    width: 230px;
    height: 50px;
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

#waza {
    color: rgb(15, 127, 224);
    width: 60px;
    height: 30px;
    margin: 3px;
    line-height: 38px;
    font-size: 21px;
}

#waza:hover {
    background-color: #c52100;
    width: 100px;
    height: 50px;
}

#so {
    color: rgb(74, 243, 23);
    width: 60px;
    height: 30px;
    margin: 3px;
    line-height: 38px;
    font-size: 21px;
}

#so:hover {
    background-color: #16fcf4;
    width: 100px;
    height: 50px;
}